<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <bean class="com.springcore.collection.Employe" name="employee1" p:eName="Ashutosh" >
    
    <property name="phone">
    <list>
			    <value>12345</value>
			    <value>743784</value>
			    <value>853879</value>
			    <value>074374</value>
   </list>
    </property>
    
    <property name="address">
		    <set>
				    <value>Lucknow</value>
				    <value>Delhi</value>
				    <value>Kanpur</value>
				    <value>Pune</value>
		    </set>
    </property>
    
    <property name="courses">
    		<map>
    		<entry key="java" value="2Months"/>
    		<entry key="python" value="1.5Months"/>
    		<entry key="Spring" value="4Months"/>
    		<entry key="Javascript" value="6Months"/>
    		</map>
    </property>
    
    </bean>
    
    
    
    </beans>

