<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    
    <bean class="com.springcore.firstCoreSpring.student" name="student1">
    	<property name="studentId">
    	<value>228383</value>
  	  	</property>
  	  	
  	  	<property name="studentName">
  	  	<value>Ashutosh</value>
  	  	</property>
  	  	
  	  	<property name="studentAddress">
  	  	<value>Gorakhpur</value>
  	  	</property>
    
    
    </bean>
    	<bean class="com.springcore.firstCoreSpring.student" name="student2">
    	<property name="studentId" value ="123345" />
  	   	<property name="studentName" value="Ram Singh"/>
  	   	<property name="studentAddress" value="Lucknow"/>
    </bean>
    
    <bean class="com.springcore.firstCoreSpring.student" name="student3" p:StudentId="177817" p:studentName="Ashish" p:studentAddress="Delhi"/>
</beans>